@import 'tailwindcss';

body {
   background:
      radial-gradient(circle at -10% 5%, #00204f 5%, transparent 38%),
      radial-gradient(circle at 95% 118%, #0066ff -50%, transparent 17%);
   background-color: #02050a;
   height: 100vh;
   margin: 0;
}

@utility border-gradient {
   border: double 3px transparent !important;
   background-image:
      linear-gradient(to top left, #030712, #001e4d),
      linear-gradient(to right, #22d3ee, #1e40af);
   background-origin: border-box;
   background-clip: content-box, border-box;
}

@layer utilities {
   .custom-date-input::-webkit-calendar-picker-indicator {
      display: none;
   }
   .custom-date-input::-moz-calendar-picker-indicator {
      display: none;
   }
}
